# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
karma-backend/node_modules/
karma-exchange/node_modules/

# Env files
.env
karma-backend/.env
karma-exchange/.env

# Build outputs
dist/
dist-ssr/
build/
.next/
out/

# Editor / OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local